@model IEnumerable<PobreFlix2.Models.ViewModels.WatchViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PobreFlix2</h1>
</div>

<p class="alert-dark"> CRUD series for the list</p>

<h3 class="">
    <a class="" asp-area="" asp-controller="Series" asp-action="Index">Series</a>
</h3>
<p class="alert-dark"> CRUD movies for the list</p>
<h3>
    <a class="" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
</h3>